@import "bootstrap";

.container {
}

body {
  background: #eef;
}

header {
  padding-top: 20px;
  img {
    padding: 1em;
    background: #fff;
  }
}
/*
.top_h {
  padding-top: 10px;
  padding-left: 25px;
}
*/
li {
  color: blue;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
  h1 {
    font-size: 200%;
  }
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
  &:hover {
    color: #069;
    text-decoration: underline;
  }
  &:visited {
    color: #069;
  }
}

/* Navigation */

nav {
  float: right;
}

nav {
  background: white;
  padding: 0 0.7em;
  white-space: nowrap;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 3px;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: #09c;
        }
        &:hover {
          text-decoration: underline;
          background: white;
        }
      }
    }
  }
}

/*Footer styling */

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  nav {
    float: none;
  }
}

/*Sign_up butto */

a.sign_up_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  &:hover{
    background: #235;
  }
}

/* round corners (not in IE) */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
