<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><a href="htttp://rubygems.org/">Gems</a></li>
    </ul>
  </nav>
</footer>