<header>
  <div class="row">
      <div class="span3">
      <%= image_tag("logo.jpg", :alt => "demo project", :class => "round" ) %>
      </div>
      <div class="span9">
        <nav class="round top_h">
          <ul>
            <li><%= link_to "Home", "#" %></li>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Sign_in", "#" %></li>
          </ul>
        </nav>
      </div>
  </div>
</header>